# editor files
*~
\#*\#

# python bytecode
*.py[co]
__pycache__/

# install artifacts
/build
/dist
*.egg-info

# tools
.virtual_documents/
.ipynb_checkpoints/
.hypothesis/
.pytest_cache
.coverage
.coverage.*
.cache
/docs/_build/
.prettier_cache

# cached data files
*.npy
